In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('employees.csv', parse_dates=["Start Date", "Last Login Time"])
df['Senior Management'] = df['Senior Management'].astype(bool)
df.sort_values('First Name', inplace=True)
df['Gender'] = df['Gender'].astype("category")

In [3]:
len(df)

1000

In [4]:
len(df.drop_duplicates()) ##WTF?

1000

## Wondering wth was that? Explanation:->
Thing is. drop_duplicates should match everything. Only Aaron matches but when you see Start Date and Last login, they dont match

In [6]:
df.drop_duplicates(subset=['First Name'], keep='first') #Drops duplicate values

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
101,Aaron,Male,2012-02-17,2019-01-31 10:20:00,61602,11.849,True,Marketing
137,Adam,Male,2011-05-21,2019-01-31 01:45:00,95327,15.120,False,Distribution
300,Alan,Male,1988-06-26,2019-01-31 03:54:00,111786,3.592,True,Engineering
372,Albert,Male,1997-02-01,2019-01-31 16:20:00,67827,19.717,True,Engineering
988,Alice,Female,2004-10-05,2019-01-31 09:34:00,47638,11.209,False,Human Resources
639,Amanda,NaN,1991-08-11,2019-01-31 14:15:00,46665,19.391,True,Client Services
879,Amy,Female,2009-05-20,2019-01-31 06:26:00,75415,19.132,False,Client Services
430,Andrea,Female,2010-10-01,2019-01-31 11:54:00,79123,19.422,False,Distribution
564,Andrew,Male,1985-03-29,2019-01-31 18:57:00,43414,7.563,True,Client Services
8,Angela,Female,2005-11-22,2019-01-31 06:29:00,95570,18.523,True,Engineering
509,Ann,Female,1984-11-04,2019-01-31 12:17:00,90719,6.220,False,Business Development
645,Anna,NaN,1985-03-13,2019-01-31 09:19:00,45418,10.162,False,Marketing
262,Anne,Female,1986-07-16,2019-01-31 14:08:00,69134,3.723,True,Engineering
87,Annie,Female,1993-01-30,2019-01-31 02:05:00,144887,8.276,True,Sales
886,Anthony,Male,2014-01-30,2019-01-31 21:04:00,96795,14.837,False,Sales
129,Antonio,Male,1988-10-25,2019-01-31 13:50:00,60866,13.101,True,Business Development
556,Arthur,Male,2014-12-16,2019-01-31 16:56:00,66819,6.639,True,Marketing
138,Ashley,Female,2006-05-25,2019-01-31 11:30:00,112238,6.030,True,Engineering
735,Barbara,Female,2002-11-26,2019-01-31 05:32:00,82884,6.837,True,Business Development
757,Benjamin,Male,1988-04-12,2019-01-31 23:32:00,123409,7.783,False,Product
894,Betty,Female,2002-11-19,2019-01-31 10:40:00,37005,7.645,True,Marketing
956,Beverly,Female,1986-10-17,2019-01-31 00:51:00,80838,8.115,False,Engineering
838,Billy,Male,2000-04-06,2019-01-31 15:14:00,115280,9.153,False,Distribution
776,Bobby,Male,2004-09-30,2019-01-31 22:52:00,79047,18.784,False,Human Resources
79,Bonnie,Female,1988-11-13,2019-01-31 15:30:00,115814,4.990,False,Product
892,Brandon,Male,1995-10-23,2019-01-31 12:04:00,60263,2.709,False,Sales
872,Brenda,Female,2015-01-18,2019-01-31 16:39:00,73749,19.332,False,Business Development
688,Brian,Male,2007-04-07,2019-01-31 22:47:00,93901,17.821,True,Legal
604,Bruce,Male,2013-03-15,2019-01-31 23:13:00,141335,15.427,True,Engineering
282,Carl,NaN,2014-02-07,2019-01-31 03:57:00,125104,12.345,False,Client Services
...,...,...,...,...,...,...,...,...
696,Samuel,Male,2012-05-25,2019-01-31 16:40:00,85550,11.593,True,Marketing
589,Sandra,Female,1995-04-24,2019-01-31 19:14:00,116931,9.657,True,Human Resources
882,Sara,NaN,2014-11-18,2019-01-31 14:47:00,135990,14.344,True,Distribution
417,Sarah,NaN,1981-08-31,2019-01-31 14:51:00,37748,9.047,False,Human Resources
452,Scott,Male,2012-11-17,2019-01-31 14:47:00,146812,1.965,True,Marketing
501,Sean,Male,2013-02-11,2019-01-31 19:07:00,42748,9.765,False,Distribution
489,Sharon,Female,2011-07-01,2019-01-31 09:50:00,46007,19.731,True,Client Services
804,Shawn,Male,2008-03-17,2019-01-31 14:12:00,39335,10.664,False,Distribution
130,Shirley,Female,1984-05-01,2019-01-31 13:15:00,41334,6.219,True,Human Resources
475,Stephanie,Female,1992-11-26,2019-01-31 00:54:00,122121,7.937,True,Engineering
756,Stephen,Male,1984-10-21,2019-01-31 06:26:00,121816,10.615,True,Distribution
525,Steve,Male,1995-08-22,2019-01-31 06:58:00,67780,9.540,True,Human Resources
743,Steven,Male,1980-05-30,2019-01-31 20:25:00,100949,13.813,True,Human Resources
975,Susan,Female,1995-04-07,2019-01-31 22:05:00,92436,12.467,False,Sales
291,Tammy,Female,1984-11-11,2019-01-31 10:30:00,132839,17.463,True,Client Services
613,Teresa,NaN,1992-01-03,2019-01-31 15:47:00,63103,11.378,False,Finance
762,Terry,Male,2004-11-10,2019-01-31 04:33:00,35633,3.947,True,Distribution
795,Theresa,NaN,1995-10-07,2019-01-31 10:16:00,42025,3.319,True,Human Resources
967,Thomas,Male,2016-03-12,2019-01-31 15:10:00,105681,19.572,False,Engineering
664,Timothy,Male,2010-10-06,2019-01-31 22:49:00,49473,12.463,False,Legal
113,Tina,Female,2009-06-12,2019-01-31 07:16:00,114767,3.711,True,Engineering
609,Todd,Male,2010-02-16,2019-01-31 11:29:00,103405,15.910,False,Sales
422,Victor,Male,2005-09-24,2019-01-31 12:04:00,123144,16.261,True,Product
294,Virginia,Female,1999-10-20,2019-01-31 06:23:00,46905,19.154,False,Distribution
288,Walter,NaN,1999-12-21,2019-01-31 22:33:00,66757,18.099,False,Distribution
433,Wanda,Female,2008-07-20,2019-01-31 13:44:00,65362,7.132,True,Legal
177,Wayne,Male,2012-04-07,2019-01-31 08:00:00,102652,14.085,True,Distribution
820,William,Male,1993-11-18,2019-01-31 12:27:00,54058,5.182,True,Human Resources
450,Willie,Male,2009-08-22,2019-01-31 13:03:00,55038,19.691,False,Legal
7,NaN,Female,2015-07-20,2019-01-31 10:43:00,45906,11.598,True,Finance

In [7]:
len(df.drop_duplicates(subset=['First Name'], keep='first'))

201